$header-height: 50px;
$nav-height: 30px;

html, body, #react-root {
  height: 100%;
}

#lab-layout {
  width: 100%;
  height: 100%;

  > header {
    position: fixed;
    top: 0;
    left: 0;
    height: $header-height;
    width: 100%;
  }

  > nav {
    position: absolute;
    top: $header-height;
    height: $nav-height;
    width: 100%;

    .right-nav {
      position: absolute;
      top: 6px;
      right: 15px;
      display: inline-block;
    }
  }

  > main {
    position: absolute;
    top: $header-height + $nav-height;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    #editors {
      flex-grow: 0;
      width: 450px;
      padding-left: 15px;
    }

    #results {
      flex-grow: 1;
      padding: 0 15px;
    }
  }
}
