#lab-layout {
  > header {
    background-color: #1e1e1e;
    box-shadow: 0px 2px 2px 0 rgba(0,0,0,0.5);
    color: white;
    z-index: 2;
    h1.title {
      font-size: 20px;
      margin: 15px;
      sup {
        color: grey;
      }
    }
  }

  > nav {
    background-color: #cbd0d0;
    box-shadow: 0px 2px 5px 0 rgba(0,0,0,0.5);
    z-index: 1;
    padding-left: 15px;
    font-size: 12px;

    .lib-picker {
      display: inline-block;
      width: 80px;
      height: 20px;
      margin: 5px;
      font-size: 12px;
    }

    a {
      color: black;
    }

    .delimiter {
      color: #a4a4a4;
    }
  }
}
